{
  "features": {
    "enable_input_output_flow_events": {{ enable_io_flow_events | lower }},
    "enable_sequencer_flow_events": {{ enable_sequencer_flow_events | lower }},
    "htp_json": {{ htp_json | lower }},
    "runtrace": {{ runtrace | lower }},
    "memory_info": {{ memory_info | lower }},
    "traceback": {{ traceback | lower }},
    "qhas_schema": {{ qhas_schema | lower }},
    "qhas_json": {{ qhas_json | lower }}
  }
}
